[Unit]
Description=The Dreamers

[Service]
Environment=DISPLAY=:0
ExecStart=/home/mh/dreamers/start
Restart=always
RestartSec=5s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=default.target

